<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="verify-admitad" content="de45619aa5"/>
    <meta name="yandex-verification" content="71b55f0fe8b13514"/>
    <title>Главная</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Montserrat:wght@600&family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main_page.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/form.css' %}">
</head>
<body>

    {% include 'includes/service_form.html' %}

    <div class="wrapper">

        {%include 'includes/header.html'%}

        <main>
            <div class="content">
                <div class="content__block-first">
                    <div class="block-first__left-block mfo_block">
                        <h1>
                            <p>Потом</p>
                            <p>верну.<span>ру</span></p>
                        </h1>
                        <span>
                            <p>сервис, где собраны все</p>
                            <p>проверенные  МФО России</p>
                        </span>
                        <div class="block-first__button button">Подобрать займ</div>
                    </div>
                    <div class="block-first__right-block">
                        <div class="block-first__card">
                            <div class="block-first__card__img">
                                <img src="{% static 'main/img/banks/sber.jpg' %}" alt="" class="block-first__card-icon">
                            </div>
                            <div class="block-first__card__text">
                                Сбербанк
                            </div>
                        </div>
                        <div class="block-first__card">
                            <div class="block-first__card__img vtb">
                                <img src="{% static 'main/img/banks/vtb.jpg' %}" alt="" class="block-first__card-icon">
                            </div>
                            <!-- <div class="block-first__card__text">
                                ВТБ
                            </div> -->
                        </div>
                        <div class="block-first__card">
                            <div class="block-first__card__img">
                                <img src="{% static 'main/img/banks/qiwi.jpg' %}" alt="" class="block-first__card-icon">
                            </div>
                            <div class="block-first__card__text">
                                Киви кошелек
                            </div>
                        </div>
                        <div class="block-first__card">
                            <div class="block-first__card__img">
                                <img src="{% static 'main/img/banks/tinkoff.jpg' %}" alt="" class="block-first__card-icon">
                            </div>
                            <div class="block-first__card__text">
                                Тинькофф
                            </div>
                        </div>
                        <div class="block-first__card">
                            <div class="block-first__card__img">
                                <img src="{% static 'main/img/banks/yandex.jpg' %}" alt="" class="block-first__card-icon">
                            </div>
                            <div class="block-first__card__text">
                                Яндекс деньги
                            </div>
                        </div>
                        <div class="block-first__card">
                            <div class="block-first__card__img">
                                <img src="{% static 'main/img/banks/prom.jpg' %}" alt="" class="block-first__card-icon">
                            </div>
                            <div class="block-first__card__text">
                                Промсвязьбанк
                            </div>
                        </div>
                        <div class="block-first__card">
                            <div class="block-first__card__img">
                                <img src="{% static 'main/img/banks/alfa.jpg' %}" alt="" class="block-first__card-icon">
                            </div>
                            <div class="block-first__card__text">
                                Альфабанк
                            </div>
                        </div>
                        <div class="block-first__card">
                            <div class="block-first__card__img">
                                <img src="{% static 'main/img/banks/opening.jpg' %}" alt="" class="block-first__card-icon">
                            </div>
                            <div class="block-first__card__text">
                                Открытие
                            </div>
                        </div>
                        <div class="block-first__card">
                            <div class="block-first__card__img">
                                <img src="{% static 'main/img/banks/sovkom.jpg' %}" alt="" class="block-first__card-icon">
                            </div>
                            <div class="block-first__card__text">
                                Совкомбанк
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content__best-services block">
                    <h2 class="best-service__title" id="best-service__title">Партнёры сервисы</h2>
                    <div class="content__best-services__container">
                        {% include 'includes/service.html' %}
                    </div>
                    <div class="service__show-more button">Показать все</div>
                    <!-- {% if services|length > 8 %}
                    <div class="service__show-more button">Показать все</div>
                    {% endif %} -->
                </div>

                {% include 'includes/news.html' %}

                <div class="content__last-block">
                    <h2>Potomverny - это сервис, позволяющий подобрать микрозайм с помощью алгоритма, учитывающего ваши нужды и потребности.</h2>
                    <div class="content__last-block_wrap">
                        <div class="last-block__inner-block">
                            <img src="{% static 'main/img/last_block/first_image.png' %}" alt="">
                            <span>
                                Вы получите займ, оптимально соответствующий вашим потребностям, если вам нужно взять деньги на покупку автомобиля, а вы находитесь в Москве или другом регионе, Potomverny найдет организацию, которая предоставить вам займ с низкими процентными ставками из доступных. Если вы ищете займ для погашения кредита или кредитной карты, то Potomverny найдет МФО, которые предлагают микрозаймы с более низкими процентами и лучшими условиями. 
                            </span>
                        </div>
                        <div class="last-block__inner-block last-block__inner-block-middle">
                            <img src="{% static 'main/img/last_block/money.png' %}" alt="">
                            <span>
                                Получите доступ к лучшим займам. Вы заслуживаете лучшего займа для ваших потребностей. С Potomverny вы получаете доступ к современной финтех-технологии, которая позволяет подобрать микрозайм "под ключ", соответствующий вашей ситуации и конкретным требованиям.
                            </span>
                        </div>
                        <div class="last-block__inner-block">
                            <img src="{% static 'main/img/last_block/money.png' %}" alt="">
                            <span>
                                Potomverny - это сервис, позволяющий с помощью алгоритма подобрать микрозайм на более выгодных условиях с учетом вашей ситуации и конкретных требований. Платформа состоит из трех основных компонентов: интерактивного сайта, алгоритма по поиску услуг онлайн-займов и списка из всех доступных партнеров. Это облегчает вам поиск оптимального займа с подходящими условиями.
Хватит тратить время. Potomverny — это сервис, позволяющий с помощью алгоритма найти лучшую для вас микрофинансовую организацию, учитывающую вашу ситуацию и конкретные требования.
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        
        {% include 'includes/footer.html' %}
    </div>
    <script src="{% static 'main/js/safari-fix.js' %}"></script>
    <script src="{% static 'form.js' %}"></script>
    <script src="{% static 'main/js/service_more_info.js' %}"></script>
    <script src="{% static 'main/js/show_all_services.js' %}"></script>
    <script src="{% static 'main/js/burger-menu.js' %}"></script>
 
</body>
</html>
