.content{
    align-items: center;
}
.main-title{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.main-title > h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;    
}
.main-title > p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.9vw;
}

/* Articles */

.big-article{
    max-width: 785px;
    margin: 0 auto;
    margin-bottom: 150px;
}
.article{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.article__button > a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.article > .artical__text{
    font-size: 1vw;
}
.big-article > .article__title{
    padding: 25px 0;
    font-size: 2.5vw;
}
.big-article > .article__text{
    display: block;
    max-width: 100%;
    font-size: 1.5vw;
}
.article > .article__title{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
}
.article > .article__text{
    text-align: justify;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-grow: 1;
}
.article__button > a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25vw;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
}
.article__button{
    width: 250px;
    height: 55px;
    background: #2EA7FF;
    border-radius: 0.7vw;
}
.article__button:hover{
    background-color: #59BAFF;
    transition: 0.3s;
    cursor: pointer;
}
.article__bottom-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 30px;
    /* vertical-align: bottom; */
    height: 150px;
}
.article__bottom-block > .article__date{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.article__bottom-block > .article__date::before{
    content: '';
    display: block;
    position: relative;
    right: 20%;
    height: 1px;
    width: 15px;
    background-color: #000;
    margin: 0 0 0 5px;
}
.small-articles-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.small-articles-wrap > .article{
    max-width: 340px;
    margin: 0 auto;
    min-height: 300px;
}
.small-article > .article__bottom-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    padding: 50px 10px;
    
}
.small-article > .article__bottom-block > .article__button{
    width: 151px;
    height: 41px;
    /* line-height: 41px; */
}
.small-article > .article__title{
    font-size: 1.4vw;
    padding: 20px 0;
}
.small-article .article__button > a{
    font-size: 1vw;
}
.small-article{
    padding: 50px 0;
}
.small-article > .article__text{
    display: block;
    /* width: 100%; */
    font-size: 1vw;
    padding: 0 20px;
    /* hyphens: auto; */
    position: relative;
    /* word-break: break-all; */
}
.big-article > img{
    display: block;
    width: 40vw;
    height: 23.9vw;
    margin: 0 auto;
}
.small-article > img{
    display: block;
    width: 17.7vw;
    height: 10.3vw;
    margin: 0 auto;
}
@media screen and (max-width:1151px)
{
    .article__bottom-block{
        align-items: center;
        flex-direction: column;
    }
    .article__bottom-block > span{
        padding: 10px 0;
    }
    
}
@media screen and (max-width: 1000px){
    .big-article > .article__title{
        font-size: 3.3vw;
    }
    .big-article > .article__text{
        font-size: 3.3vw;
    }
    .small-article > .article__text{
        font-size: 1.7vw;
    }
    .small-article > .article__title{
        font-size: 3vw;
    }
    .small-article > img{
        width: 25vw;
        height: 20vw;
    }
    .big-article .article__button > a{
        font-size: 1.6vw;
    }
    .small-article .article__button > a{
        font-size: 1.3vw;
    }
    .article__button{
        width: 22vw;
        height: 6vw;
        /* line-height: 6vw; */
        border-radius: 1vw;
    }
}
@media screen and (max-width: 580px){
    .small-article > img{
        width: 35vw;
        height: 30vw;
    }
    .big-article > img{
        width: 65vw;
        height: 50vw;
    }
    .small-article .article__button > a{
        font-size: 2vw;
    }
    .small-article > .article__text{
        font-size: 2.5vw;
    }
    .small-article > .article__bottom-block, .big-article > .article__bottom-block{
        flex-direction: column;
    }
    .small-article .article__button, .big-article .article__button{
        margin: 0 auto;
    }
    .small-article .article__date, .big-article .article__date{
        justify-content: center;
        padding: 20px;
    }
    .small-article .article__date:before, .big-article .article__date:before{
        right: 5%;
    }
    .big-article .article__button{
        width: 27vw;
        height: 8vw;
    }
    .big-article .article__button > a{
        font-size: 2.5vw;
    }
}
@media screen and (max-width: 380px){
    .big-article > img{
        width: 65vw;
        height: 55vw;
    }
    .small-article > img{
        width: 50vw;
        height: 45vw;
    }
    .small-article .article__button > a{
        font-size: 3vw;
    }
    .small-article > .article__text{
        font-size: 3vw;
    }
    .small-article > .article__title{
        font-size: 5vw;
    }
    .big-article > .article__text{
        font-size: 5vw;
    }
    .big-article > .article__title{
        font-size: 7vw;
    }
    .main-title > h1{
        font-size: 8vw;    
    }
    .main-title > p{
        font-size: 5vw;
        padding-top: 25px;
    }
    .big-article{
        margin-bottom: 50px;
    }
    .big-article .article__button{
        width: 45vw;
        height: 15vw;
        font-size: 4vw;
    }
    .big-article .article__button > a{
        font-size: 5vw;
    }
}