footer{
    background-color: #FFFFFF;
    max-width: 100%;
    padding: 100px;
}
footer > .footer__text{
    max-width: 1170px;
    height: 61px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #554E4E;
    text-align: justify;
}