.header{
    background-color: #2EA7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100px;
    overflow-x: hidden;
    position: -webkit-sticky;
    z-index: 3;
    top: 0;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70vw;
    height: 100%;
    overflow: hidden;
}
.header > .header__content > .header__logo{
    max-width: 201px;
    max-height: 86px;
    viewport-fit: 20px 8px;
}
.header__list{
    display: flex;
    justify-content: center;
    max-width: 800px;
}
.header__list > .list__item{
    list-style-type: none;
    margin: 0 45px 0 45px;
}
.header__list > .list__item > a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal; 
    font-size: 1.3vw;
    font-weight: 600;
}
.header__list > .list__item > a:hover{
    text-decoration: underline;
}
/* Socials */
.header > .header__content > .header__socials{
    max-width: 250px;
    height: 40px;
    /* background-color: red; */
}
.header > .header__content > .header__socials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header > .header__content > .header__socials a:first-child{
    margin-right: 43px;
}
.header > .header__content > .header__socials a:last-child{
    margin-left: 43px;
}
.menu__icon{
    display: none;
}
.burger-menu-click{
    transform: translate(100%, 0);
    transition: 0.3s;
}
.body-overflow{
    overflow: hidden;
    touch-action: none;
    /* z-index: 2; */
}
.header-fixed{
    position: fixed;

}

@media screen and (max-width: 1112px){
    .header > .header__content > .header__socials{
        display: none;
    }
    .header__list > .list__item > .list__link{
        font-size: 1.8vw;
    }

    /* .header > .header__content > .header__logo{
        max-width: 150px;
        max-height: 64px;
    } */
}
@media screen and (max-width: 767px){
    .header{
        position: sticky;
        z-index: 3;
        top: 0;
    }
    .header__list{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        position: fixed;
        right: 100%;
        top: 100px;
        bottom: 0;
        background-color: #2EA7FF;
        height: 100%;
        width: 100vw;
        z-index: 4;
        transition: 0.3s;
        overflow-y: hidden;
        padding: 50px 0 0 0px;
        touch-action: none;
    }
    .header__list > .list__item{
        max-width: 100%;
        padding: 15px 10px;
        margin: 0;
    }
    .menu__icon{
        display: block;
        position: relative;
        z-index: 3;
        width: 30px;
        height: 18px;
        cursor: pointer;
        margin-right: 30px;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after{
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .menu__icon::before,
    .menu__icon::after{
        content: "";
    }
    .menu__icon::before{
        top: 0;
    }
    .menu__icon::after{
        bottom: 0;
    }
    .menu__icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .header__list > .list__item > .list__link{
        font-size: 5vw;
        /* font-size: 200px;  */
    }
    .menu__icon._active span{
        transform: scale(0) translate(0px, -50%);
    }
    .menu__icon._active::before{
        top: 45%;
        transform: rotate(-45deg);
    }
    .menu__icon._active::after{
        bottom: 45%;
        transform: rotate(45deg);
    }
    .header > .header__content > .header__logo{
        position: sticky;
        z-index: 3;
    }
    .header{
        /* position: sticky;
        z-index: 3; */
        top: 0;
        touch-action: none;
    }
    /* .header > .header__content > .header__logo{
        width: 150px;
        height: 100px;
        viewport-fit: 100px 50px;
    } */
}

@media screen and (max-width: 380px){
    .header > .header__content > .header__logo{
        transform: scale(0.7, 0.7);
    }
    .header__list > .list__item > .list__link{
        font-size: 6vw;
    }
}